:root {
  --white: #fff;
  --primary: #f59e0b;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("/bg-clima.jpg");

  background-size: cover; /* Que cubra toda la pantalla */
  background-position: center; /* Centrada */
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  color: var(--white);
  font-size: 2rem;
}
